$activeborder:hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$inputerror:hsl(0, 100%, 66%);
// neutral
$white:hsl(0, 0%, 100%);
$lightviolet:hsl(270, 3%, 87%);
$mediumviolet:hsl(279, 6%, 55%);
$darkviolet:hsl(278, 68%, 11%);
